# job outputs
condor/gitignore
plotDump/
analysis/roots/
.list

*.DS_Store
#setup file
condor/setup.sh

#plotFiles
HEP_Data_Entries/ConvertCToRoot/paper_plots/*.pdf
HEP_Data_Entries/ConvertCToRoot/paper_plots/*.png

HEP_Data_Entries/ConvertCToRoot/paper_plots/removePreliminary/*.pdf
HEP_Data_Entries/ConvertCToRoot/paper_plots/removePreliminary/*.png

HEP_Data_Entries/ConvertCToRoot/paper_plots/withBranchingRatios/*.pdf
HEP_Data_Entries/ConvertCToRoot/paper_plots/withBranchingRatios/*.png
#checkpoints
**/.ipynb_checkpoints/

# Prerequisites
*.d

# Object files
*.pickle
*.root
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
